<form action="/transaction/by_tag" method="post">
  <label for="ttag">Select tag: </label>
    <select id="ttag" name="sum">
        <% @tags.each do |object| %>
        <option value="<%=object.tag%>"><%= object.tag %></option>
        <%end%>
    </select>

    <input type="submit" value="Total by tag">
</form>
<p>Total: <%= @total %></p>
