<form action="/transaction/new_user" method="post">
  <label for="cuser">Your name:</label>
  <input id="cuser" type="text" name="name"/>

  <label for="cuser">Your budget:</label>
  <input id="cuser" type="number" name="budget"/>

  <input type="submit" value="create">
</form>
