<form action="/transaction/<%= @transaction.id %>/edit" method="post">
  <label for="tamount">Amount £</label>
  <input type="number" name="amount" value="<%= @transaction.amount.to_s %>" id="tamount"/>

  <label for="ttag">Tag:</label>
  <input type="text" value="<%= @transaction.tag %>" name="tag" id="ttag"/>

  <label for="tshop">Shop:</label>
  <input type="text" name="shop" value="<%= @transaction.shop %>" id="tshop"/>

  <label for="tdate">Date</label>
  <input id="tdate" value ="<= @transaction.date %>" type="date" name="date"/>


  <input type="submit" value="update"/>
</form>
