<form action="/transaction" method="post">
  <label for="tamount">Amount £</label>
  <input type="number" name="amount" id="tamount"/>

  <label for="ttag">Tag:</label>
  <input type="text" name="tag" id="ttag"/>

  <label for="tshop">Shop:</label>
  <input type="text" name="shop" id="tshop"/>

  <label for="tuser">User:</label>
  <select class="" name="">

  </select>

  <input type="submit" value="Save transaction">
</form>
