<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Money Cashboard</title>
  </head>
  <body>
    <a href="/transactions">Home</a>
    <a href="/transactions/all">All transactions</a>
    <a href="/transactions/by_tag">Search by tag</a>
  </body>
</html>
