<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <title>Money Cashboard</title>
  </head>
  <body>
    <div class="grid">

      <div class="grid-row-sm">
        <div class="cellogo">
          <h1 <h1 class="animated infinite rubberBand">SAVE</h1>
        </div>
      </div>

        <div class="grid-row">
          <div class="cell"><a href="/transaction">Home</a></div>
          <div class="cell"><a href="/transaction/all/:user">All transactions</a></div>
          <div class="cell"><a href="/transaction/search">Search by tag</a></div>
          <div class="cell"><a href="/transaction/new_user">Create user</a></div>
        </div>

      <div class="grid-row-md">
        <div class="cellb"><%= yield %></div>
      </div>

      <div class="intro">
          <p>​Welcome to SAVE, add your daily transactions.</p>
      </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​

      <div class="intro2">
          <p>​To have better control of your budget.</p>
      </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​

   </div>
  </body>
</html>
