<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Money Cashboard</title>
  </head>
  <body>
    <a href="/transaction">Home</a>
    <a href="/transaction/all/:user">All transactions</a>
    <a href="/transaction/by_tag">Search by tag</a>
    <a href="/transaction/new_user">Create user</a>
    <%= yield %>
  </body>
</html>
